<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMG</title>
    <link rel="shortcut icon" href="../images/PMG logo si producciones.jpg">
    <link rel="stylesheet" href="../css/translated.css">
    <meta name="description" content="Pmg producciones te brinda el mejor servicio a la hora de realizar tu evento."> 
    <meta name="keywords" content="EVENTOS, FIESTA, CUMPLEAÑOS, CASAMIENTO, DJ, ILUMINACION, BAILE">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<header>

    <div class="container__menu">
        <div class="logootraspaginas">
            <img src="../images/PMGLOGO.png" alt="">
        </div>
        <div class="menu">
            <i class="fas fa-bars" id="btn_menu"></i>
            <div id="back_menu"></div>
            <nav id="nav">
                <img src="../images/logohome.png" alt="">
                <ul>
                    <li><a href="../index.html" id="selected"><b>Inicio</b></a></li>
                    <li><a href="../views/Servicios.html">Servicios</a></li>
                    <li><a href="../views/Productos.html">productos</a></li>
                    <li><a href="../views/Nosotros.html">Nosotros</a></li>
                    <li><a href="../views/Contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>

<div class="container__producto">

    <section class="conteiner__producto">
        <div class="box__producto col-sm-6">
            <img src="../images/Productos/cabina simple.jpeg" alt="">
            <h1>Cabina Simple</h1>
            <p class="box__texto">Cabina de 3 piezas de acero con plasticos de alto impacto</p>
        </div>
        <div class="imagencabinas">
            <img src="../images/Productos/@PMGDjStore (1).png" alt="">
            
        </div>
        <div class="box__producto col-sm-6">
            <img src="../images/Productos/cabinapersonalizada.jpeg" alt="">
            <h1>Cabina personalizada</h1>
            <p class="box__texto">Sonido profesional JBL</p>
        </div>
        
        </div>
    </section>
        
</div>

<div class="container__producto">

    <section class="conteiner__truss">
        <div class="box__truss col-sm-6">
            <img src="../images/Productos/truss triangular.jpg" alt="">
            <h1>Truss triangular</h1>
            <p class="box__texto">Tramo 1,2 y 3 Metros</p>
        </div>
        <div class="imagencabinas">
            <img src="../images/Productos/TRUSS.png" alt="">
            
        </div>
        <div class="box__truss col-sm-6">
            <img src="../images/Productos/truss cuadrada.jpg" alt="">
            <h1>Truss cuadrada</h1>
            <p class="box__texto">Tramo 1,2 y 3 Metros</p>
        </div>
        
        </div>
    </section>
        
</div>
<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="../images/PMG logo si producciones.jpg" alt="">
            </div>
            <div class="terms">
                <p>Mucho mas que un evento</p>
            </div>
        </div>

        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/PMG-Producciones-107947495304846"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/pmgproducciones/"><i class="fab fa-instagram-square"></i> Instagram PMG Producciones</a>
            <a href="https://www.instagram.com/pmgdjstore/"><i class="fab fa-instagram-square"></i> Instagram PMGDjStore</a>
            <a href="https://wa.me/5491137678037?text=Hola,%20quiero%20consultar%20disponibilidad%20para%20el%20día%20..."><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022 <b>PMG</b></p>
    </div>
</footer>

<script src="js/script.js"></script>