<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMG</title>
    <link rel="shortcut icon" href="../images/PMG logo si producciones.jpg">
    <meta name="description" content="Pmg producciones te brinda el mejor servicio a la hora de realizar tu evento."> 
    <meta name="keywords" content="EVENTOS, FIESTA, CUMPLEAÑOS, CASAMIENTO, DJ, ILUMINACION, BAILE">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    
    <header>

        <div class="container__menu">

            <div class="logootraspaginas">
                <img src="../images/PMGLOGO.png" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="../images/logohome.png" alt="">
                    <ul>
                        <li><a href="../index.html" id="selected"><b>Inicio</b></a></li>
                        <li><a href="../views/Servicios.html">Servicios</a></li>
                        <li><a href="../views/Productos.html">productos</a></li>
                        <li><a href="../views/Nosotros.html">Nosotros</a></li>
                        <li><a href="../views/Contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    </header>

    <div class="container__card">

        <section class="conteiner">
            <div class="box col-sm-6">
                <img src="../images/Fotos servicios/dj.png" alt="">
                <h1><b> DJ’s</b></h1>
                <p class="box__texto">Djs profesionales</p>
            </div>
            <div class="box col-sm-6">
                <img src="../images/Fotos servicios/sonido.png" alt="">
                <h1>Sonido</h1>
                <p class="box__texto">Sonido profesional JBL</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/Copia de iluminacion (1).png" alt="">
                <h1>Iluminación </h1>
                <p class="box__texto">Iluminacion led de ultima generacion</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/barra.png" alt="">
                <h1>Barra de tragos</h1>
                <p class="box__texto">Barra barmans y tragos personalizados</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/catering (1).png" alt="">
                <h1> Catering</h1>
                <p class="box__texto">Una propuesta gastronómica a medida creada por nutricionistas y cocineros profesionales que cuidan cada detalle. </p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/ambientacion.png" alt="">
                <h1>Ambientacion</h1>
                <p class="box__texto">Alquiler de livings y Gacebos</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/Fotografia.png" alt="">
                <h1>Fotografia</h1>
                <p class="box__texto">Dejamos en tu memoria todos los momentos importantes del evento.</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/Shows.png" alt="">
                <h1>Shows en vivo</h1>
                <p class="box__texto">Dejamos el evento a mano de los mejores cantantes de covers de cumbia y reggaeton para darte un show unico y distinto.</p>
            </div>
            <div class="box">
                <img src="../images/Fotos servicios/productos.png" alt="">
                <h1>Set Up para DJs</h1>
                <p class="box__texto">Fabricamos equipamiento de calidad para que puedas mejorar tu Set Up</p>
            </div>
        </section>
            
  





    </div>



<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="../images/PMG logo si producciones.jpg" alt="">
            </div>
            <div class="terms">
                <p>Mucho mas que un evento</p>
            </div>
        </div>

        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/PMG-Producciones-107947495304846"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/pmgproducciones/"><i class="fab fa-instagram-square"></i> Instagram PMG Producciones</a>
            <a href="https://www.instagram.com/pmgdjstore/"><i class="fab fa-instagram-square"></i> Instagram PMGDjStore</a>
            <a href="https://wa.me/5491137678037?text=Hola,%20quiero%20consultar%20disponibilidad%20para%20el%20día%20..."><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022 <b>PMG</b></p>
    </div>
</footer>

<script src="js/script.js"></script>