<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Servicio Digital - MagtimusPro</title>
    <meta name="description" content="Pmg producciones te brinda el mejor servicio a la hora de realizar tu evento."> 
    <meta name="keywords" content="EVENTOS, FIESTA, CUMPLEAÑOS, CASAMIENTO, DJ, ILUMINACION, BAILE">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    
    <header>

        <div class="container__menu">

            <div class="logo">
                <img src="../images/PMG logo si producciones.jpg" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="../images/PMG logo si producciones.jpg" alt="">
                    <ul>
                        <li><a href="../index.html" id="selected">Inicio</a></li>
                        <li><a href="../views/Servicios.html">Servicios</a></li>
                        <li><a href="../views/Productos.html">productos</a></li>
                        <li><a href="../views/Nosotros.html">Nosotros</a></li>
                        <li><a href="../views/Contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    </header>

    <div class="container__card">
        
        <section class="conteiner">
            <div class="box col-sm-6">
                <img src="../IMG/djweb.jpg" alt="">
                <h1>DJs</h1>
                <p class="box__texto">Djs profesionales</p>
            </div>
            <div class="box col-sm-6">
                <img src="../IMG/sonido.jpg" alt="">
                <h1>Sonido</h1>
                <p class="box__texto">Sonido profesional JBL</p>
            </div>
            <div class="box">
                <img src="../IMG/Iluminacion.jpg" alt="">
                <h1>Iluminacion</h1>
                <p class="box__texto">Iluminacion led de ultima generacion</p>
            </div>
            <div class="box">
                <img src="../IMG/trago.jpg" alt="">
                <h1>Barra de tragos</h1>
                <p class="box__texto">Barra barmans y tragos personalizados</p>
            </div>
            <div class="box">
                <img src="../IMG/catering.jpg" alt="">
                <h1> Catering</h1>
                <p class="box__texto">Una propuesta gastronómica a medida que cuida cada detalle, desde el producto y su elaboración, hasta la presentación del plato. Contamos con varios caterings con opciones vegatarianas y veganas</p>
            </div>
            <div class="box">
                <img src="../IMG/Linvings.jpg" alt="">
                <h1>Ambientacion</h1>
                <p class="box__texto">Alquiler de livings y Gacebos</p>
            </div>
            <div class="box">
                <img src="../IMG/Fotografia.jpg" alt="">
                <h1>Fotografia</h1>
                <p class="box__texto">Dejamos en tu memoria todos los momentos importantes del evento.</p>
            </div>
            <div class="box">
                <img src="../IMG/shows.jpg" alt="">
                <h1>Shows en vivo</h1>
                <p class="box__texto">Dejamos el evento a mano de los mejores cantantes de covers de cumbia y reggaeton para darte un show unico y distinto.</p>
            </div>
            <div class="box">
                <img src="../IMG/Cabina de dj.jpg" alt="">
                <h1>Set Up para DJs</h1>
                <p class="box__texto">Fabricamos equipamiento de calidad para que puedas mejorar tu Set Up</p>
            </div>
        </section>
            
  





    </div>



<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="../images/PMG logo si producciones.jpg" alt="">
            </div>
            <div class="terms">
                <p>Mucho mas que un evento</p>
            </div>
        </div>

        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/PMG-Producciones-107947495304846"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.instagram.com/pmgproducciones/"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022 <b>PMG</b></p>
    </div>
</footer>

