
/*Productos*/

.imagencabinas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
     align-items: center;
     flex-basis: 400px;
        min-height: 500px;
    
}

.conteiner__producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-evenly;
     justify-content: center;
     align-items: center;
     background-color: #536cc3;
     padding-top: 200px;
    }

    .box__producto {
        background-color: #bb683e;
        flex-basis: 400px;
        min-height: 500px;
        color: black;
        font-size: 20px;
        border: 3px solid rgba(0, 0, 0, 0.2);
        margin: 20px;
        box-shadow: 0 0 5px 5px black;
        }
        
        .box__producto:hover{
          background-color:   #F6615D  ;
          transition: background-color 1s;
          transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
        
        }
        
        h1 {
            display: flex; 
             justify-content: center;
             align-items: center;
             color: white;
            }
        .box__texto 
        {
            display: flex; 
             justify-content: center;
             align-items: center;
             vertical-align: middle;
             text-align: center;
             color: black;
             margin-top: 10px;
            }
        
        img {width: 100%;}
        

        .conteiner__truss {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row; 
            justify-content: space-evenly;
             justify-content: center;
             align-items: center;
             background-color: #536cc3;
             padding-top: 200px;
            }
        
            .box__truss {
                background-color: #bb683e;
                flex-basis: 400px;
                min-height: 500px;
                color: black;
                font-size: 20px;
                border: 3px solid rgba(0, 0, 0, 0.2);
                margin: 20px;
                box-shadow: 0 0 5px 5px black;
                }
                
                .box__truss:hover{
                  background-color:   #F6615D  ;
                  transition: background-color 1s;
                  transform: translateY(-15px);
                    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
                
                }
                